*{
    margin: 0;
    padding: 0;
}

nav{
    background-color: purple;
    color: white;
    height: 65px;
    font-size: 27px;
    display: flex;
    align-items: center;
    padding: 0 12px;
    font-family: serif;
    /* font-style: italic; */
}



nav ul{
    list-style: none;
}

.gameContainer{
    /* background-color: yellow; */
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.container{
    display: grid;
    grid-template-columns: repeat(3, 10vw);
    grid-template-rows: repeat(3, 10vw);
    font-family: sans-serif;
}

.box{
    border: 2px solid black;
    font-size: 8vw;
    cursor:pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box:hover{
    background-color: rgb(194, 160, 225);
}

.gameInfo{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.imgbox img{
    width: 0;
    transition: width 1s ease-in-out ;
}

.br-0{
    border-right: 0;
}

.bl-0{
    border-left: 0;
}

.bt-0{
    border-top: 0;
}

.bb-0{
    border-bottom: 0;
}

.info{
    font-size: 20px;
}

#reset{
    cursor: pointer;
    margin : 30px 23px;
    padding: 5px 30px;
    color: aliceblue;
    font-size: 25px;
    font-family: serif;
    background-color: rgb(218, 0, 218);
    border-radius: 15px;
}

@media screen and (max-width: 800px) {
    .gameContainer{
        flex-wrap: wrap;
    }
    .gameInfo{
        margin-top: 34px;
    }
    .container{
        display: grid;
        grid-template-columns: repeat(3,20vw);
        grid-template-rows: repeat(3,20vw);
    }
}